---
layout: html
width: wide
permalink: "{{ page.fileSlug | stripDate }}/index.html"
---

{% import "macros/blocks.njk" as blocks with context %}

{{ blocks.page_header(
    headline|default(title),
    page.date|default(false)
) }}

{{ content | safe }}

{{ blocks.page_footer() }}
