---
layout: html
width: full
permalink: "{{ page.fileSlug }}/index.html"
---

{% import "macros/blocks.njk" as blocks with context %}

{{ blocks.page_header(
    headline|default(title)
) }}

{{ content | safe }}

{{ blocks.page_footer() }}
