.homepage-content {
    @include stack(#{"max(2rem, 4vw)"});
    &__section {
        @include stack(1rem);
    }
}


.intro-box {
    @include stack (1rem);
    display: grid;
    column-gap: 2rem;
    grid-template-columns: minmax(0, 1fr);
    @include breakpoint-up (lg) {
        grid-template-columns: auto 1fr;
    }
    &__figure {
        width: 20rem;
        max-width: 100%;
        height: auto;
    }
    &__content {
        @include stack (1rem);
    }
    &__link {
        font-size: 1em;
        font-weight: $font-weight-normal;
        text-decoration: none;
        .icon-link__icon {
            margin-right: 0;
        }
    }
}
