---
title: Edinburgh
layout: project
tags: project
image: edinburgh_01.jpg
---

I went to Edinburgh in 2018.

{% for photo in photos.edinburgh %}
    <img src="/photos/{{ photo }}" class="img-fluid">
{% endfor %}
