---
title: Edinburgh
layout: project
photos:
    - edinburgh_01.jpg
    - edinburgh_02.jpg
    - edinburgh_03.jpg
    - edinburgh_04.jpg
    - edinburgh_05.jpg
    - edinburgh_06.jpg
    - edinburgh_07.jpg
    - edinburgh_08.jpg
    - edinburgh_09.jpg
    - edinburgh_10.jpg
    - edinburgh_11.jpg
    - edinburgh_12.jpg
    - edinburgh_13.jpg
    - edinburgh_14.jpg
    - edinburgh_15.jpg
tags: project
---

I went to Edinburgh in 2018.
