---
title: Photo blog
layout: html
width: base
tags: blog
image: blog/20200918.jpg
priority: 1.0
changefreq: weekly
---

{% import "macros/photos.njk" as macros with context %}
{% import "macros/blocks.njk" as blocks with context %}

{{ blocks.page_header(
    headline|default(title)
) }}

<div class="blog">
    {% for entry in blog %}
        <section class="blog-entry">
            {% if entry.date %}
                <time class="blog-entry__date" id="{{ entry.date | date_id }}">
                    {{- entry.date | date -}}
                </time>
            {% endif %}
            {{ macros.figure(
                entry.image,
                entry.caption if entry.caption else entry.image.caption,
                'blog-entry',
                not loop.first,
                responsive_images.oneColumn[width].sizes,
                responsive_images.oneColumn[width].srcset,
                true
            ) }}
            {% if entry.link %}
                <a class="blog-entry__link" href="{{ entry.link.url }}">
                    {%- fontawesome entry.link.icon|default("solid/arrow-right"), ["blog-entry__link-icon"] -%}
                    {{- entry.link.text -}}
                </a>
            {% endif %}
        </section>
    {% endfor %}
</div>

{{ blocks.page_footer() }}
