---
title: Photo Blog
layout: html
width: base
tags: blog
---

{% import "macros/photos.njk" as macros %}

<div class="blog">
    {% for entry in blog %}
        <section class="blog-entry">
            {% if entry.date %}
                <time class="blog-entry__date">{{ entry.date | date }}</time>
            {% endif %}
            {{ macros.figure(
                entry.image,
                'blog-entry',
                not loop.first,
                responsive_images.basic[width].sizes,
                responsive_images.basic[width].srcset
            ) }}
            {% if entry.link %}
                <a class="blog-entry__link" href="{{ entry.link.url }}">
                    {%- fontawesome "arrow-right", "solid", ["blog-entry__link-icon"] -%}
                    {{- entry.link.text -}}
                </a>
            {% endif %}
        </section>
    {% endfor %}
</div>
