{%- macro link(url, text, icon = false, classes = []) -%}
<a class="icon-link {{ classes|join(' ') }}" href="{{ url }}">
    {%- if icon -%}
        {%- fontawesome icon, ['icon-link__icon'], '' -%}
        {{- ' ' -}}
    {%- endif -%}
    {{- text -}}
</a>
{%- endmacro -%}
