.icon-link {
    @include font-size($font-size-base);
    font-weight: $font-weight-bold;
    display: block;
    &__icon {
        height: 1.25rem;
        margin-right: .5rem;
        vertical-align: text-bottom;
        svg, path {
            fill: currentColor;
        }
    }
}
