.teaser-grid {
    --max-columns: 1;
    @include breakpoint-up (sm) {
        --max-columns: 2;
    }
    @include breakpoint-up (lg) {
        --max-columns: 3;
    }

    display: grid;
    grid-template-columns: repeat(var(--max-columns, auto-fit), minmax(16rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 3rem 2rem;

    &__link {
        margin-top: 2rem !important;
    }
}

.teaser {
    position: relative;
    @include stack(.5rem);
    &__caption {
        @include font-size(1.25rem);
        line-height: $line-height-headlines;
        font-weight: $font-weight-bold;
    }
    &__footer {
        @include font-size($font-size-sm);
        font-style: italic;
    }
    &__link {
        @include font-size($font-size-base);
        font-weight: $font-weight-bold;
        @extend .stretched-link;
    }
}
