---
title: Animals & Nature
layout: subject
tags: subject
sort: 2
image: nutria_03.jpg
---

{% import "macros/photos.njk" as macros with context %}

{{ macros.three_columns([
    photos.red_butterfly[0],
    photos.red_butterfly[1],
    photos.edinburgh[5],
    'subjects/20170510.jpg',
    photos.sheep_2020[8],
    'subjects/20170326.jpg',
    photos.nutria[2],
    photos.nutria[6],
    photos.nutria[7],
    photos.edinburgh[4],
    photos.edinburgh[13],
    photos.den_haag[7],
    'subjects/20160619.jpg',
    photos.ducks_in_the_park[1],
    photos.ducks_in_the_park[2],
    photos.nutria[3],
    photos.nutria[4],
    photos.nutria[0],
    photos.sheep_2020[4],
    photos.sheep_2020[11],
    'subjects/20200822.jpg',
    'subjects/20200822-2.jpg',
    'subjects/20200915.jpg',
    photos.ducks_in_the_park[4],
    'subjects/20160817.jpg',
    'subjects/20170430.jpg',
    photos.cat_fusel[9],
    photos.cat_fusel[6],
    photos.cat_fusel[3],
    photos.cat_fusel[2],
    'blue_dragonfly_01.jpg',
    photos.wildlife_park[7],
    photos.wildlife_park[0],
    photos.wildlife_park[1],
    photos.wildlife_park[2],
    photos.black_and_white_sheep[7],
    photos.black_and_white_sheep[6],
    photos.black_and_white_sheep[5],
    photos.black_and_white_sheep[3],
    photos.black_and_white_sheep[1],
    photos.edinburgh[11],
    photos.edinburgh[12],
    'subjects/20190421.jpg',
    'subjects/20181020.jpg',
    'subjects/20181010-3.jpg',
    'subjects/20180610.jpg',
    'subjects/20180531.jpg',
    photos.sheep_2018[11],
    photos.sheep_2018[9],
    photos.sheep_2018[8],
    photos.sheep_2018[6],
    photos.sheep_2018[1],
    photos.sheep_2018[4],
    'subjects/20180421.jpg',
    'subjects/20180325.jpg',
    'subjects/20171210.jpg',
    'subjects/20160618.jpg',
    'subjects/20171206.jpg',
    'subjects/20171206-2.jpg',
    'subjects/20180526.jpg',
    'subjects/20160815.jpg',
    'subjects/20160703.jpg',
    'subjects/20160703-2.jpg',
    'subjects/20160703-3.jpg'
], width) }}
