---
title: Animals & Nature
layout: subject
tags: subject
sort: 2
image: nutria_03.jpg
description: Wildlife and nature photography by Moritz L'Hoest 🦢 Cute animals and more 🦝
---

{% import "macros/photos.njk" as macros with context %}

{{ macros.three_columns([
    'subjects/20220321.jpg',
    photos.red_butterfly[0],
    photos.red_butterfly[1],
    'edinburgh_06.jpg',
    'subjects/20170510.jpg',
    'subjects/20200521.jpg',
    'subjects/20220321-2.jpg',
    'sheep_rhine_09.jpg',
    'subjects/20170326.jpg',
    'nutria_03.jpg',
    'nutria_07.jpg',
    'nutria_08.jpg',
    'edinburgh_05.jpg',
    'edinburgh_14.jpg',
    'sheep-2021/sheep_2021_01.jpg',
    'sheep-2021/sheep_2021_12.jpg',
    'sheep-2021/sheep_2021_15.jpg',
    'blog/20210514.jpg',
    'den_haag_08.jpg',
    'subjects/20160619.jpg',
    'ducks_park_02.jpg',
    'ducks_park_03.jpg',
    'nutria_04.jpg',
    'nutria_05.jpg',
    'nutria_01.jpg',
    'sheep_rhine_05.jpg',
    'sheep_rhine_12.jpg',
    'subjects/20200822.jpg',
    'subjects/20200822-2.jpg',
    'subjects/20200915.jpg',
    'ducks_park_05.jpg',
    'subjects/20160817.jpg',
    'subjects/20170430.jpg',
    'cat_fusel_10.jpg',
    'cat_fusel_07.jpg',
    'cat_fusel_04.jpg',
    'cat_fusel_03.jpg',
    'blue_dragonfly_01.jpg',
    'wildlife_park_008.jpg',
    'wildlife_park_001.jpg',
    'wildlife_park_002.jpg',
    'wildlife_park_003.jpg',
    'sheep_bw_08.jpg',
    'sheep_bw_07.jpg',
    'sheep_bw_06.jpg',
    'sheep_bw_04.jpg',
    'sheep_bw_02.jpg',
    'edinburgh_12.jpg',
    'edinburgh_13.jpg',
    'subjects/20190421.jpg',
    'subjects/20181020.jpg',
    'subjects/20181010-3.jpg',
    'wildlife_park_011.jpg',
    'subjects/20180610.jpg',
    'subjects/20180531.jpg',
    'happy_sheep_12.jpg',
    'happy_sheep_10.jpg',
    'happy_sheep_09.jpg',
    'happy_sheep_07.jpg',
    'happy_sheep_02.jpg',
    'happy_sheep_05.jpg',
    'subjects/20180421.jpg',
    'subjects/20180421-2.jpg',
    'subjects/20180325.jpg',
    'subjects/20171210.jpg',
    'subjects/20160618.jpg',
    'subjects/20171206.jpg',
    'subjects/20171206-2.jpg',
    'subjects/20180526.jpg',
    'subjects/20160815.jpg',
    'subjects/20160703.jpg',
    'subjects/20160703-2.jpg',
    'subjects/20160703-3.jpg'
], width) }}
