{% import "macros/photos.njk" as photos with context %}

<link rel="manifest" href="manifest.json">

<link rel="icon" href="/favicon.ico">
<link rel="icon" type="text/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/png" sizes="512x512" href="/mehrlicht-512x512.png">
<link rel="icon" type="image/png" sizes="192x192" href="/mehrlicht-192x192.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">

<meta name="application-name" content="Mehr Licht">
<meta name="apple-mobile-web-app-title" content="Mehr Licht">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#33607C">

<link rel="canonical" href="{{ site.url + page.url }}">
<meta property="og:url" content="{{ site.url + page.url }}">

<meta property="og:title" content="{{ title }}">

<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:site_name" content="{{ site.name }}">

{% set preview_image = seo_image|default(image) %}
{% if preview_image %}
    {%- set src = preview_image if (preview_image | is_string) else preview_image.name -%}
    <meta property="og:image" content="{{ site.url }}{{ photos.image_path(src) | imageWidth(1200) }}">
    <meta property="og:image:alt" content="{{ (title + " | " + description) if description else title }}">
{% endif %}

{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
{% endif %}

<meta name="generator" content="Eleventy (11ty.dev)">

{%- if seo.twitter -%}
    {%- for name, value in seo.twitter -%}
        {% if value %}
            <meta name="twitter:{{ name }}" content="{{ value }}">
        {% endif %}
    {%- endfor -%}
{%- endif -%}
