.main {
    min-height: 100vh;

    &__article {
        background: $article-bg;
        color: $article-color;
        @include font-size($font-size-lg);
        margin: 1rem;
    }
    &__nav {
        background: $navigation-bg;
        color: $navigation-color;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
    }
    &__footer {
        background: $footer-bg;
        color: $footer-color;
        padding: .5rem 1rem;
        @include font-size($font-size-sm);
    }

    @include breakpoint-up(sm) {
        &__article {
            margin: 2rem 3rem;
        }
    }

    @include breakpoint-up(md) {
        display: grid;
        grid-template-columns: 20rem 2rem 1fr 2rem;
        grid-template-rows: 1fr;
        grid-template-areas:    "navigation space-left main space-right"
                                "navigation footer footer footer";
        justify-content: space-between;
        align-content: stretch;
        &--halfwidth {
            // grid-template-columns: 20rem 1fr 50rem 1fr;
        }
        &--fullwidth {
            // grid-template-columns: 20rem 3rem 1fr 3rem;
        }
        &__article {
            grid-area: main;
            margin: 3rem auto;
        }
        &__nav {
            grid-area: navigation;
        }
        &__footer {
            grid-area: footer;
        }
    }

    @include breakpoint-up(lg) {
        grid-template-columns: 20rem 5rem 1fr 5rem;
        &--halfwidth {
            .main__article {
                max-width: 65rem;
            }
        }
        &__article {
            margin: 5rem auto;
        }
    }
}
