.main {
    min-height: 100vh;

    &__article {
        background: $article-bg;
        color: $article-color;
        // box-shadow: 0 0 3px 0 rgba($gray-700, .3);
        @include font-size($font-size-lg);
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        max-width: 40rem;
        min-width: 0;
        .main--wide & {
            max-width: 50rem;
        }
        .main--full & {
            max-width: 100%;
        }
    }
    &__nav {
        background: $navigation-bg;
        color: $navigation-color;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
    }
    &__footer {
        background: $footer-bg;
        color: $footer-color;
        padding: .5rem 1rem;
        @include font-size($font-size-sm);
    }

    @include breakpoint-up(sm) {
        &__article {
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 2rem;
            .main--full & {
                max-width: 96vw;
            }
        }
    }

    @include breakpoint-up(md) {
        display: grid;
        grid-template-columns: 20rem 1fr minmax(0, 40rem) 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    "navigation space-left main space-right"
                                "navigation footer footer footer";
        justify-content: space-between;
        align-content: stretch;
        &--wide {
            grid-template-columns: 20rem 1fr minmax(0, 45rem) 1fr;
        }
        &--full {
            grid-template-columns: 20rem 3rem minmax(0, 1fr) 3rem;
        }
        &__article {
            .main &, .main--base &, .main--wide &, .main--full & {
                max-width: unset;
            }
            grid-area: main;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        &__nav {
            grid-area: navigation;
        }
        &__footer {
            grid-area: footer;
        }
    }

    @include breakpoint-up(lg) {
        grid-template-columns: 20rem 1fr minmax(0, 50rem) 1fr;
        &--wide {
            grid-template-columns: 20rem 1fr minmax(0, 65rem) 1fr;
        }
        &--full {
            grid-template-columns: 20rem 5rem minmax(0, 1fr) 5rem;
        }
        &__article {
            margin-top: 5rem;
            margin-bottom: 5rem;
            padding: 4rem 3rem;
        }
    }
}
